name: "Lint"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - uses: "actions/checkout@v3.5.3"

        - name: "Set up Python"
          uses: actions/setup-python@v4.7.0
          with:
            python-version: "3.10"
            cache: "pip"

        - name: "Install requirements"
          run: python3 -m pip install -r requirements.txt

        - name: "Run"
          run: python3 -m ruff check .
